<header>
    <div class="hedader">
        <nav class="row navbar navbar-expand-lg ">
            <div class=" section1 col-6 container mt-2">
              <img class="logo-tmdb" src="../../../assets/images/logo-tmdb.png" alt="">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="ul1 navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Peliculas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Programas de televisión</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Personas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Más</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="section2 col-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="ul2 navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#" style="font-size: 30px;">+</a>
                    </li>
                    <li class="nav-item">
                      <button class="button1" >ES</button> 
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Acceder</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-disabled="true">Únete a TMDB</a>
                    </li>
                    <li class="nav-item">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search mt-2" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg>
                      </li>
                  </ul>
                </div>
              </div>
          </nav>
    </div>    
</header>
