
<div class="background">
    <section>
        <div class="h2div">
            <h2>
                Bienvenidos
            </h2>
        </div>
        <div>
            <p>
                Millones de películas, programas de televisión y personas por descubrir. Explora ahora.
            </p>
        </div>
        <nav class="navbar mt-5">
            <div class="container-fluid">
              <form class="d-flex w-100"  role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </section>
</div>